@import url(./FontAvenir.css);
body{
  overflow-x: hidden; 
  font-family: Avenir, sans-serif;
  font-weight: 400;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
}
:root {
  --text: #202020;
  --background: #ffffff;
  --primary : #f5bb00ff;
  --secundary: #264653ff;
  --accent: #FAC54F;
  --contrast: #d76a03ff;
  --extra: #bf3100ff;
  --violet: #702632; 
}