---
import "../assets/css/index.css"
import Hero from "../components/home/Hero.astro"
import TimeLine from "../components/home/TimeLine.astro"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>OvenBliss</title>
	</head>
	<body class="">
		<Hero/> 
		<TimeLine>
			<section class="w-full h-fit grid p-10 grid-cols-2 mt-14 gap-x-5">
				<div class="w-3/5 p-2 bg-contrast rounded-lg h-fit text-white m-auto">
					<h2 class="text-3xl font-bold">Mision</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, rem commodi possimus aut perferendis mollitia sapiente cupiditate exercitationem cumque aperiam.</p>
				</div>
				<div class="animate-fade-left duration-700 delay-200 py-20 px-3">
					<img src="https://images.unsplash.com/photo-1612444875893-f50140963da6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
				</div>
			</section>
			<section class="w-full h-fit grid p-10 grid-cols-2">
				<div class="p-10 h-[90vh]">
					<img class="object-cover h-full w-full rounded-[5rem]" src="https://images.unsplash.com/photo-1590841609987-4ac211afdde1?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Imagen de unos brownies">
				</div>
				<div class="w-3/5 aspect-square p-2 bg-secundary rounded-lg h-fit text-white m-auto text-right">
					<h2 class="text-3xl font-bold text-center">Otra Info</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, rem commodi possimus aut perferendis mollitia sapiente cupiditate exercitationem cumque aperiam.</p>
				</div>
			</section>
			<section class="w-full h-fit grid p-10 grid-cols-2 z-10">
				<div class="p-10 h-[90vh] col-span-2">
					<img class="object-cover h-full w-full rounded-[5rem]" src="https://images.unsplash.com/photo-1512325605119-b10de50ecba9?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Imagen de unos brownies">
				</div>
			</section>
		</TimeLine>
	</body>
</html>
