---
import "../assets/css/index.css"
import Hero from "../components/home/Hero.astro"
import TimeLine from "../components/home/TimeLine.astro"
import Footer from "../components/home/Footer.astro"
import Mision from "../components/home/Mision.astro"
import Historia from "../components/home/Historia.astro"
import Brownies from "../assets/img/Recipie1.jpeg"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>OvenBliss</title>
	</head>
	<body class="">
		<Hero/> 
		<TimeLine>
			<Mision/>
			<Historia /> 
			<section class="w-screen h-fit grid p-10 grid-cols-1 z-10">
				<div class="h-[70vh] max-w-[815px] aspect-video mx-auto rounded-[5rem] bg-secundary overflow-hidden">
					<img class="w-[120%] object-none object-bottom" src={Brownies.src} alt="Imagen de unos brownies">
				</div>
			</section>
		</TimeLine>
		<Footer/>
	</body>
</html>
