---
  import logo from "../../assets/img/logo_ovenBliss.svg"
---
<header class="">
  <div class="w-full h-full grid place-content-center">
    <span class="bg-primary w-[30vw] min-w-[350px] max-w-[750px] aspect-square rounded-full animate-jump-in animate-duration-700 animate-delay-200"></span>
  </div>
  <div class="w-full h-full grid place-content-center animate-fade-up animate-delay-300">
    <img src={logo.src} class="w-[50%] mx-auto"/>
  </div>
</header>
<style>
  header{
    display: grid;
    place-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
  } 
  header > *{
    grid-area: 1 / 1;
  }
</style>