<section class="w-screen min-h-[60vh] h-fit grid px-10 grid-cols-2 mt-14 gap-x-5 overflow-x-hidden" id="img-mision-container">
  <div class="w-3/5 p-2 bg-extra rounded-lg h-fit text-white m-auto">
    <h2 class="text-3xl font-bold">Mision</h2>
    <p>
      La mision es la de poder brindar una altinativa a los snack tradicionales de recreo. Nosotros ofrecemos uno mucho más rico y a un mejor precio. 
    </p>
  </div>
  <div class="py-20 mx-14" id="img-mision-container">
    <img src="https://images.unsplash.com/photo-1612444875893-f50140963da6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" id="img-mision">
  </div>
</section>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger); 
  gsap.from("#img-mision", {
    transform: "translateX(75%)", 
    scrollTrigger:{
      trigger: "#img-mision-container", 
      scrub: true, 
      start:"-100",
      end: "350vh", 
    },
  }) 
  gsap.to("#img-mision", {
    transform: "translateX(10%)"
  }) 
</script>