<section class="h-[300vh] w-[100vw]">
  <div class="w-full flex h-[200vh] sticky top-0 justify-center bg-primary conteiner-progress">
    <div class="w-5 h-[5vh] bg-secundary rounded-xl progress"></div>
  </div>
</section>
<style>
</style>