<section class="h-[300vh] w-[100vw] conteiner-progress relative">
  <div class="w-full flex sticky top-0 justify-center">
    <div class="w-5 h-[5vh] bg-accent rounded-xl progress absolute inset-b-5 -top-5"></div>
  </div>
</section>
<style>
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  gsap.to(".progress", {
    height:"100vh", 
    scrollTrigger:{
      trigger: ".conteiner-progress", 
      scrub: true, 
      start: "top top", 
    }
  })
  gsap.from("#c",{duration: 1, drawSVG:0})
</script>