<section class=" w-[100vw] conteiner-progress relative">
  <div class="-z-10 canva-progress bg-secundary sticky top-0 h-0 flex justify-center">
    <div class="w-5 bg-accent rounded-xl progress -mt-5 "></div>
  </div>
  <slot/> 
</section>
<style>
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.to(".progress", {
    height:"80vh", 
    scrollTrigger:{
      trigger: ".conteiner-progress", 
      scrub: true, 
      markers:true, 
      end: "bottom bottom", 
    },
  })
</script>