---
import Brownie from "../assets/img/BrownieMock.png"
import Brownies from "../assets/img/BrowniesMock.jpeg"
---
<div class="max-h-[500px] rounded-full h-[71vh] aspect-square bg-white m-auto overflow-hidden absolute bottom-10 inset-0">
  <div class="h-full w-full image-1 absolute inset-0 no-active" id="brownie">
    <img 
      class="h-full mx-auto"
      src={Brownie.src}
      alt="brownie"
      >
  </div>
  <div class="h-full w-full image-2 absolute inset-0 active" id="brownies">
    <img 
      class="h-full mx-auto"
      src={Brownies.src}
      alt="brownie"
      >
  </div>
</div>